.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
    height:calc(100vh - 77px);
    margin: 6px;
}
.signup-container{
    width: fit-content;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--primary-color);
    max-width: 100%;
}
.signup-content{
    width: 100%;
    margin: auto;
}
.signup-heading{
    font-size: 3rem;
}
.signup-row>td{
    font-size: 2rem;
    padding: 8px;
}
.forgot-link{
    text-decoration: none;
    color: var(--primary-text-color);
}
.forgot-link:hover{
    color: var(--secondary-color);
}
.signup-input{
    width:100%;
    height:3rem;
    font-size: 2rem;
    padding: 3px;
    border-radius: 4px;
    border: none;
}
.signup-input:focus{
    border: 2px solid var(--secondary-color);       
}
.btn-submit{
    color: var(--primary-color);
    background-color: var(--primary-text-color);
    font-size: 2rem;
    padding: 6px 3rem;
    border: none;
    border-radius: 4px;
}
.btn-submit:hover{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.btn-submit:focus{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.already-account{
    text-decoration: none;
    color: var(--primary-text-color);
}
.already-account:hover{
    color: var(--secondary-color);
}
.already-account:focus{
    color: var(--secondary-color);
}
@media screen and(max-width:1052px) {
    .signup-container{
        margin:0 2rem;
    }
}