.vertical-card{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    box-shadow: 0 4px 8px 0 var(--primary-color);
    width: 30rem;
}
.card-desc-block{
    padding: 2rem;
}
.card-buttons{
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-button{
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}
.cart-button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.wish-button{
    border-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.wish-button:hover{
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}
.checked{
    color: var(--color-light-green);
}
.cart-card{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    box-shadow: 0 4px 8px 0 var(--primary-color);
    width:100%;
    height: 100%;
}
.cart-card>img{
    width:25rem;
    height: 100%;
}
.home-card{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    box-shadow: 0 4px 8px 0 var(--primary-color);
    width:100%;
    height: 100%;
}
.horizontal-card{
    width:100%;
    height:100%;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width:1052px) {
    .horizontal-card img{
        width:100%;
        height: 20rem;
    }   
    .horizontal-card{
        flex-direction: column;
        height: 100%;
    }
}