.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.nav-right-logo>a{
    font-size: 3rem;
    padding: 1rem;
    color: var(--primary-text-color);
}
.last-line-footer{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.nav-right-logo>a:hover{
    color: var(--secondary-color);
}
.fa-code{
    font-weight: bold;
    color: var(--secondary-color);
}