@import url('/src/styles/main.css');
.home-grid-container{
    display: grid;
    overflow: hidden;
    grid-template-areas: 
    "header"
    "tops"
    "bottoms";
}
.header-home-section{
    grid-area: header;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.top-home-section{
    grid-area: tops;
    width: 100%;
    height:100%;
}
.bottom-home-section{
    grid-area: bottoms;
    height: 100%;
}
.product-category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin:2rem;
    position: relative;
    cursor: pointer;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-res{
    width: 30rem;
    height: 25rem;
    opacity: 1;
    transition: .5s ease;
}
.img-res:hover {
    opacity: 0.6;
}
.category-title{
    position: absolute;
    font-size: 2.5rem;
    padding: 0 8.4rem;
    width:31rem;
    z-index: 1;
    background-color: var(--primary-text-color);   
}
.home-image{
    display: flex;
    max-width:100%;
    height:50rem;
    margin:1rem 2rem;
    box-shadow: 0 10px 15px 0 var(--primary-color);
}
.home-image:hover{
    opacity: 0.6;
}
.toy-img{
    width:25rem;
    height:25rem;
    border-radius: 1rem;
    cursor: pointer;
}
.category-1{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--color-light-gray);
}
.category-1:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.text{
    color: var(--primary-text-color);
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
} 
@media screen and (max-width:1052px) {
    .product-category{
        flex-direction: column;
    }
    .home-image{
        height:30rem;
    }
}